body {
  margin: 0;
  padding: 0;
  font-family: inter, Helvetica, sans-serif;
  
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 11vh;
}

.header input,
.header select,
.header button {
  align-self: center;
}

input {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

select {
  background: none;
  background-color: #1F2937;
  color: #D5D4D8;
  border-radius: 4px;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}
select option {
  font-weight: 400;
}

button {
  background-color: #3D4B60;
  color: #FFFFFF;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.main {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 80vh;
}

.footer {
  background-color: #1F2937;

  color: #D5D4D8;
  display: flex;
  text-align: center;
  justify-content: space-around;
  height: 8.95vh;
  align-items: center;
}

.footer p {
  margin: 0;
  cursor: pointer;
  font-weight: 500;
}

.first {
  min-width: 20vw;
}

.second {
  min-width: 20vw;
}

.third {
  min-width: 20vw;
}

.fourth {
  min-width: 20vw;
}

.fifth {
  min-width: 20vw;
}

@media (max-width: 500px) {
  .header {
    height: 10vh;
  }

  .main {
    height: 70vh;
  }

  .footer {
    height: 10vh;
  }
}